config/database.php

public/uploads/prescriptions/*.pdf
public/uploads/avatars/*
public/uploads/doctor_photos/*

!public/uploads/avatars/index.php
!public/uploads/doctor_photos/index.php
!public/uploads/prescriptions/index.php
!public/uploads/prescriptions/.htaccess

data_backup/
*.zip